services:

  # =======================================
  # ---------- 1. INFRASTRUCTURE ----------
  # =======================================
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: kc_db
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - HCNetwork

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    container_name: keycloak_server
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/kc_db
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    ports:
      - 8080:8080
    depends_on:
      - postgres
    networks:
      - HCNetwork

  mongo:
    image: mongo:6.0
    container_name: app_mongo
    ports:
      - "27017:27017"
    volumes:
      - ./mongo_data:/data/db
    networks:
      - HCNetwork

  # =======================================
  # ------ 2. PROJECT: HOME CIRCLE  -------
  # =======================================

  hc-front:
    build: ./HC-FRONT/Home-Circle
    container_name: hc_landing
    ports: 
      - "3000:3000"
    environment:
      - KC_APP_URL=http://localhost:8080
    networks:
      - HCNetwork

  # =======================================
  # ---------- 3. PROJECT: DARET ----------
  # =======================================

  daret-back:
    build: ./HC-BACK/Daret
    container_name: daret_backend
    ports: 
      - "4001:4000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/daret_db
      - KC_URL=http://keycloak:8080
    networks:
      - HCNetwork

  daret-front:
    build: ./HC-FRONT/Daret
    container_name: daret_frontend
    ports: 
      - "3001:3000"
    environment:
      - DARET_APP_API_URL=http://localhost:4001
      - KC_APP_URL=http://localhost:8080
    depends_on:
      - daret-back
    networks:
      - HCNetwork

  # =======================================
  # ---------- 4. PROJECT: DARNA ----------
  # =======================================

  darna-back:
    build: ./HC-BACK/Darna
    container_name: darna_backend
    ports: 
     - "4002:4000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/darna_db
      - KC_URL=http://keycloak:8080
    networks:
      - HCNetwork

  darna-front:
    build: ./HC-FRONT/Darna
    container_name: darna_frontend
    ports: 
      - "3002:3000"
    environment:
      - DARNA_APP_API_URL=http://localhost:4002
      - KC_APP_URL=http://localhost:8080
    depends_on:
      - darna-back
    networks:
      - HCNetwork

networks:
  HCNetwork:
    driver: bridge


